{:paths ["src" "resources"]
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]
 :deps {org.clojure/clojure    {:mvn/version "1.12.0"}
        cheshire/cheshire      {:mvn/version "6.1.0"}
        clj-commons/clj-yaml                        {:mvn/version "1.0.29"}
        com.fasterxml.jackson.core/jackson-core     {:mvn/version "2.20.0"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.13.5"}
        http-kit/http-kit                           {:mvn/version "2.5.3"}
        ring/ring                                   {:mvn/version "1.15.3"}
        ring/ring-defaults                          {:mvn/version "0.3.4"}
        org.apache.commons/commons-compress         {:mvn/version "1.28.0"}
        healthsamurai/matcho          {:mvn/version "0.3.8"}

        hiccup/hiccup       {:mvn/version "2.0.0-RC4"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}

        context/system {:git/url "https://github.com/context-clj/system.git"
                        :sha "d178613a466fdd74aa73a178ffa2851919d78122"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test" "resources"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"
              "-XX:MaxDirectMemorySize=16g" "-XX:+UseLargePages"
              "--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
  :nrepl
  {:extra-paths ["test"]
   :extra-deps  {cider/cider-nrepl {:mvn/version "LATEST"}}
   ;; :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow" "-Djdk.attach.allowAttachSelf"]
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]

   :main-opts   ["-m" "nrepl.cmdline"
                 "-b" "0.0.0.0"
                 "--middleware"
                 "[cider.nrepl/cider-middleware]"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}

  :run {:extra-paths ["dev" "libs/zd/src" "libs/zd/test"]
        :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :main-opts   ["-m" "zd.hsm"]}}}
