@theme {
    --font-display: "Satoshi", "sans-serif";
}

.uui-h1 {
    @apply text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white;
}

.uui-h2 {
    @apply text-lg my-2 flex items-baseline space-x-4;
}

.uui-hbox {
    @apply py-2 flex space-x-4 hover:bg-gray-100 cursor-pointer;
}
.uui-link {
    @apply text-sky-600 cursor-pointer;
}

table.uui, .uui-table {
    thead {
        tr {
            @apply border-b border-gray-400;
        }
        th {
            @apply px-2 py-1 align-top font-semibold text-gray-600;
        }
    }
    tr {
        @apply border-b border-gray-200;
    }
    td {
        @apply px-2 py-1 align-top;
    }
}

.uui-code {
    @apply text-xs bg-gray-50 shadow-sm p-4 rounded-md whitespace-pre-wrap;
}

.uui-text {
    @apply text-sm text-gray-500;
}

/* https://tailwindui.com/components/application-ui/elements/buttons */
.uui-btn {
    @apply
        rounded-md
        px-2.5 py-1.5
        text-sm
        font-semibold
        shadow-xs
    ;

    &.primary {
        @apply
            bg-gray-600
            focus-visible:outline-2
            focus-visible:outline-indigo-600
            focus-visible:outline-offset-2
            hover:bg-gray-500
            text-white
            ;
    }
    &.secondary {
        @apply
            bg-white
            hover:bg-gray-50
            ring-1
            ring-gray-300
            ring-inset
            shadow-xs
            text-gray-900
            ;
    }
}
